CREATE DATABASE IF NOT EXISTS DEVAPP;

CREATE USER IF NOT EXISTS 'developer'@'localhost' IDENTIFIED BY '<PASSWORD>';

GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD ON *.* TO 'developer'@'localhost' WITH GRANT OPTION;

FLUSH PRIVILEGES;

USE DEVAPP;

CREATE TABLE IF NOT EXISTS departments (
    DEPT INT(4),
    DEPT_NAME VARCHAR(250)
);

INSERT INTO departments (DEPT, DEPT_NAME) VALUES (1001, 'Vendas'), (1002, 'Comercial'), (1003, 'RH');
